<style>
    * {
        font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    input[type=text],
    input[type=email],
    input[type=password],
    select,
    textarea {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    a[id=cancil] {
        text-decoration: none;
        text-align: center;
        width: 20%;
        background-color: #c4c3c3;
        color: rgb(2, 2, 2);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 1s;
    }

    a[id=cancil]:hover {
        background-color: rgb(190, 22, 22);
        color: white;
    }

    textarea {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }


    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    button[id=register] {
        margin: auto;
        width: 20%;
        background-color: #3cbe42;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 300ms;
    }

    button[id=register]:hover {
        background-color: #24c22c;
        color: white;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container {
        text-align: center;
        width: 60vw;
        margin: auto;
    }

    label {
        font-size: 1.2rem;
    }
</style>


<div class="container">
    <h1>Register Here</h1>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" placeholder="Enter Username" />
        </div>
        <div class="form-group">
            <label for="fullname">Full Name</label>
            <input class="form-control" type="text" name="fullname" id="fullname" placeholder="Enter Full Name" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" id="email" placeholder="Enter Email" />
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input class="form-control" type="text" name="phone" id="phone" placeholder="Contact Number" />
        </div>

        <div class="form-group">
            <label for="type">Type</label><br>
            <select name="type" id="type" class="form-group">
                <option value="student">Student</option>
                <option value="tutor">Tutor</option>
            </select>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="Enter Password" />
        </div>
        <div class="form-group">
            <label for="key">Key</label>
            <input class="form-control" type="password" name="key" id="key" placeholder="Enter Key" />
        </div>
    </form>

    <div class="buttons">
        <a class="btn btn-secondary" id="cancil" href="/"> Cancel</a>
        <button class="btn btn-primary" id="register" onclick="register()">Register</button>
    </div>
    Don't have key? Contact Us now!

    <a href="/dashboard">
        <div id="status"></div>
    </a>

</div>


<script>
    var register = () => {
        var data = {
            'type': document.getElementById("type").value,
            'fullname': document.getElementById("fullname").value,
            'username': document.getElementById("username").value,
            'email': document.getElementById("email").value,
            'phone': document.getElementById("phone").value,
            'password': document.getElementById("password").value,
            'key': document.getElementById("key").value
        };
        console.log(data);

        var status = $("#status");

        $.ajax({
            type: "POST",
            url: "/auth/register",
            data: JSON.stringify(data),
            contentType: "application/json",

            dataType: 'json',
            success: (res) => {
                console.log("success", res);

                if (res.success) {

                    status.html(res.msg);
                    status.css("color", "green");
                } else {
                    status.html(res.msg);
                    status.css("color", "red");
                }

            },
            error: (err) => {
                console.log("err", err.responseJSON.msg);
                status.html(err.responseJSON.msg);
                status.css("color", "red");

            }
        })
    }
</script>